/* You can add global styles to this file, and also import other style files */
.form-group label {
    color: rgb(13, 17, 35);
  }
  
  .form-group input {
    font-weight: 500;
  }
  
  .form-group input::placeholder {
    color: #a9b3e9;
    font-weight: 300;
  }
  
  thead th{
    font-weight: 400;
  }
  
  table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
  }
  
  /*for invalid form controls*/
  input.invalid {
    border-color: red;
  }

  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(3, 35, 66);
    border-radius: 0.3rem;
    color: rgb(173, 194, 195);
}

.table .thead-light th{
    background-color:rgb(3, 35, 66);
    color: rgb(173, 194, 195);
  }